<h1>Witaj! Potwierdź swój email!</h1>
<p>Potwiedź swój adres email, klikając w poniższy link: <br><br>
    <a href="{{ signedUrl }}">Potwierdź mój email</a>
. Link wygaśnie za {{ expiresAtMessageKey|trans(expiresAtMessageData, "VerifyEmailBundle") }}.</p>
<p>Pozdrawiamy!</p>